.footer-dr{
    width: 100%;
    background: $gray-footer;
    display: flex;
    justify-content: center;
    padding-top: 48px;
    margin-top: 56px;
    .footer-content{
        max-width: 1232px;
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .footer-ubicacion{
            width: 100%;
            margin-bottom: 40px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-end;

            .footer-map{
                width: 62%;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .footer-h2{
                    color: #fff;
                    font-size: 1.6rem;
                }

                #map{
                    height: 184px;
                    //background: beige;
                    width: 95%;
                }
            }
            .footer-logo{
                width: 38%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                img{
                    margin: 0;
                }
            }
        }
        .footer-contacto{
            display: flex;
            padding-top: 16px;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            .footer-telefonos{
                width: 62%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;

                .numeros-telefonicos{
                    width: 45%;
                    border-right: 1px solid white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-wrap: nowrap;
                    align-items: flex-start;

                    .phones{
                        display: flex;
                        justify-content: flex-start;
                        .imgPhones{
                            margin-right: 24px;
                            margin-bottom: 4px;
                        }
                        p{
                            margin: 4px 0;
                            color: #fff;
                            a{
                                color: #fff;

                                .emergency-text{
                                    color: $azul-modal;
                                }

                                .emergency-text:hover{
                                    color: $azul-seccion;
                                }
                            }
                        }
                    }
                }

                .footer-address{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-wrap: nowrap;
                    align-items: flex-start;
                    padding-left: 24px;
                    p{
                        margin: 4px 0;
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
            .footer-redes{
                width: 38%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-end;
                align-items: center;

                .imgFooterRedes{
                    margin: 8px 0px 6px 27px;

                    img{
                        height: 18px;;
                    }
                }
            }
        }
        .footer-copyright{
            display: flex;
            justify-content: space-between;
            margin-top: 64px;
            margin-bottom: 16px;
            padding-left: 40px;
            p{
                margin-bottom: 0;
                font-size: 12px;
                color: white;

                a{
                    color: #fff;
                }
            }
        }
    }
}