
.heroContent{
    max-width: 1232px;
    position: relative;
    height: 100%;
    width: 100%;
}

.hero{
    height: 536px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;

     //anuncio de telefonos
     .hero-aviso{
        width: 100%;
        background-color: $gray-ad;
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;

        .content-hero-aviso{
            max-width: 1232px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: center;
            margin: 8px 0;
            
            .llamanosTxt{
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                width: 80%;
                margin-left: 80px;
                @include mobile{
                    width: 60%;
                    margin-left: 8px;
                }
        
                img{
                    margin-right: 24px;
                    @include mobile {
                        display: none;
                    }
                }
            }
        
            .locationIcon{
                margin: 0;
            }
            p{
                margin: 0;
                font-size: 14px;
                color: $color-inverse;
                font-weight: 700;
                letter-spacing: 2px;
        
                @include mobile{
                    font-size: 10px;
                }
            }
        
            .closeIcon{
                margin: 0;
                cursor: pointer;
                z-index: 5;
                @include tablet{
                    margin-right: 24px;
                }
        
                @include mobile{
                    width: 34px;
                    height: auto;
                }
            }
        }
    }

    .close{
        transform: translateY(-156px);
        -webkit-transition: all 250ms ease-in-out;
        transition: all 750ms ease-in-out;
    }
}