//Hecho por Enrique, no tocar//

.hero-trayectoria{
    background-image: url("../images/contenido/bannerTrayectoria.png");

    @include mobile{
        height: 400px;
        background-position: -664px;
    }

    //texto y botones del hero
    .heroContent{
        max-width: 1232px;
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        .hero-text {
            margin-bottom: 64px;
            
            .p-hero1{
                color: $color-inverse;
                text-transform: none;
                font-size: 3.8rem;
                font-family: 'Big-Caslon';
                margin: 0;
                letter-spacing: 3px;
                text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.5);
                @include tablet{
                    font-size: 3.5rem;
                    margin-left: 16px;
                }
                @include mobile{
                    font-size: 2.5rem;
                    margin-left: 8px;
                }
            }
        }
    }
    
}