.section-inicio{
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    //border: 1px solid black;
    .box-image{
        width: 50%;
        position: relative;
        .img-section{
            height: 100%;
        }
        .img-inicio-center{
            position: absolute;
            bottom: -48px;
            right: -16px;
        }
        .img-inicio-center-3{
            position: absolute;
            bottom: 120px;
            right: -16px;
            width: 120px;
        }
    }
    .box-texts{
        width: 42%;
        //border: 1px solid red;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .bigger-text{
            font-size: 2rem;
            margin-bottom: 0;
            color: $gray-titles;
        }
        .tiny-text{
            font-size: 12px;
            color: $gray-tiny-text;
            font-family: 'Aspira-Medium';
        }

        .txt-description{
            line-height: normal;
        }
        a{
            align-self: flex-end;
            .btn-section-inicio{
                margin-top: 16px;
                margin-bottom: 32px;
                border-radius: 25px 25px 25px 25px;
                padding: 12px 96px;
                background: $azul-seccion;
                font-size: 12px;
                font-family: 'Aspira-Medium';
                font-weight: normal;
                letter-spacing: 2px;
                box-shadow:  2px 2px 3px rgba(0, 0, 0, 0.5);
            }
        }
        .img-inicio-center{
            position: absolute;
            bottom: -48px;
            right: -16px;
        }
      
    }
}

.section-inicio-2{
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    //border: 1px solid black;
    .box-image{
        width: 50%;
        position: relative;
        display: flex; 
        justify-content: flex-end;
        .img-section{
            height: 100%;
        }
        .img-inicio-center{
            position: absolute;
            bottom: -48px;
            left: -100px;
        }
    }
    .box-texts{
        width: 38%;
        //border: 1px solid red;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .bigger-text{
            font-size: 2rem;
            margin-bottom: 0;
            color: $gray-titles;
        }
        .tiny-text{
            font-size: 12px;
            color: $gray-tiny-text;
            font-family: 'Aspira-Medium';
        }

        .txt-description{
            line-height: normal;
        }
        a{
            align-self: flex-end;
            .btn-section-inicio{
                margin-top: 16px;
                background: white;
                color: $azul-seccion;
                border: 2px solid $azul-seccion;
                margin-bottom: 32px;
                border-radius: 25px 25px 25px 25px;
                padding: 12px 96px;
                font-size: 12px;
                font-family: 'Aspira-Medium';
               
                letter-spacing: 2px;
                //box-shadow:  2px 2px 3px rgba(0, 0, 0, 0.5);
            }
        }
      
    }
}

.caslon{
    font-family: 'Big-Caslon';
    letter-spacing: 2px;
    font-weight: lighter;
}
.separator{
    height: 40px;
}