.inicio-slider{
    background-image: url("../images/contenido/slideTestimonios.png");
    height: 400px;
    margin-top: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile{
        justify-content: center;
    }
    .slider-container{
        max-width: 1232px;
        width: 100%;
        
    }

    .itemsSlider{
        max-width: 1232px;
        position: relative;
        width: 40%;
        //border: 1px solid red;
        height: 280px;
        transition: all 2s ease-in-out;
        @include tablet{
            width: 60%;
        }
        @include mobile{
            height: 344px;
            width: 100%;
        }
        .sliderContent{
            max-width: 1232px;
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 88px;
            transition: all 2s ease-in-out;
            @include mobile{
                align-items: center;
                padding: 0px 40px;
            }
    
            h2{
                color: $gray-titles;
                @include mobile{
                    text-align: center;
                }
            }
            h3{
                text-transform: none;
                color: $gray-titles;
                @include mobile{
                    text-align: center;
                }
            }
            p{
               
                font-size: 14px;
                @include mobile{
                    text-align: center;
                    margin-bottom: 0;
                }
            }
            .score{
                width: 100%;
                margin-top: 8px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;

                @include mobile{
                    flex-direction: column;

                    .stars{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }

        .itemsDirections{
            position: absolute;
            width: 40px;
            padding: 8px 8px;
            top: 32%;
            margin-left: 16px;
            cursor: pointer;
            font-size: 24px;
            z-index: 4;
            @include mobile{
                font-size: 32px;
                top: 46%;
            }
        }

        #btn2{
            position: absolute;
            right: -72px;
            @include mobile{
                right: -2px;
            }
        }
        #btn1{
            @include mobile{
                left: -16px;
            }
        }
        .slides{
            display: none;
        }
    }
}

