// Colors
$white: #ffffff;
$black: #000000;
$color-primary:   #414042;  .color-primary   { color: $color-primary;   }  .bg-color-primary   { background-color: $color-primary;   }
$color-secondary: #607d8b;  .color-secondary { color: $color-secondary; }  .bg-color-secondary { background-color: $color-secondary; }
$color-inverse:   #FFF;     .color-inverse   { color: $color-inverse;   }  .bg-color-inverse   { background-color: $color-inverse;   }
$color-success:   #4caf50;  .color-success   { color: $color-success;   }  .bg-color-success   { background-color: $color-success;   }
$color-info:      #03a9f4;  .color-info      { color: $color-info;      }  .bg-color-info      { background-color: $color-info;      }
$color-warning:   #ff9800;  .color-warning   { color: $color-warning;   }  .bg-color-warning   { background-color: $color-warning;   }
$color-danger:    #f44336;  .color-danger    { color: $color-danger;    }  .bg-color-danger    { background-color: $color-danger;    }
// Grayscale
$gray-base:    lighten(#000, 0%);         .gray-base    { color: $gray-base;    };  .bg-gray-base    { background-color: $gray-base;    }
$gray-darker:  lighten($gray-base, 15%);  .gray-darker  { color: $gray-darker;  };  .bg-gray-darker  { background-color: $gray-darker;  }
$gray-dark:    lighten($gray-base, 35%);  .gray-dark    { color: $gray-dark;    };  .bg-gray-dark    { background-color: $gray-dark;    }
$gray-regular: lighten($gray-base, 50%);  .gray-regular { color: $gray-regular; };  .bg-gray-regular { background-color: $gray-regular; }
$gray-light:   lighten($gray-base, 65%);  .gray-light   { color: $gray-light;   };  .bg-gray-light   { background-color: $gray-light;   }
$gray-lighter: lighten($gray-base, 85%);  .gray-lighter { color: $gray-lighter; };  .bg-gray-lighter { background-color: $gray-lighter; }
$gray-ghost:   lighten($gray-base, 95%);  .gray-ghost   { color: $gray-ghost;   };  .bg-gray-ghost   { background-color: $gray-ghost;   }

$body-bg-color: $white;
$inner-body-bg: $white;


//colorimetria de dr jn
$gray-header: #58595b;
$gray-ad: #7d7978;
$gray-tiny-text: #969696;
$gray-titles: #58595b;
$gray-footer: #616161;

$azul-hero:#55b7e6;
$azul-seccion: #56b7e4;
$azul-modal: #a2dfff;

$bg-lavor: #fafafa;

//animations
.fade{
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade{
  from{
    opacity: 0.2;
  }
  to{
    opacity: 1;
  }
}


// Vertical space
$space-base: 8px;
$space-2: $space-base * 2; // 16px
$space-3: $space-base * 3; // 24px
$space-4: $space-base * 4; // 32px
$space-5: $space-base * 5; // 40px

// font family
@font-face {
  font-family: 'Aspira-Black';
  src: url('fonts/Aspira-Black.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-BlackIt';
  src: url('fonts/Aspira-BlackIt.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-Bold';
  src: url('fonts/Aspira-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Big-Caslon';
  src: url('../styles/fonts/Big-Caslon-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Aspira-BoldIt';
  src: url('fonts/Aspira-BoldIt.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-Demi'; 
  src: url('fonts/Aspira-Demi.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-DemiIt';
  src: url('fonts/Aspira-DemiIt.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-Heavy';
  src: url('fonts/Aspira-Heavy.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-HeavyIt';
  src: url('fonts/Aspira-HeavyIt.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-It';
  src: url('fonts/Aspira-It.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-Italic2';
  src: url('fonts/Aspira-Italic2.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-Light';
  src: url('fonts/Aspira-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-LightIt';
  src: url('fonts/Aspira-LightIt.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-Medium';
  src: url('fonts/Aspira-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-MediumIt';
  src: url('fonts/Aspira-MediumIt.ttf')  format('truetype');
}
@font-face {
  font-family: 'Aspira-Regular';
  src: url('fonts/Aspira-Regular.ttf')  format('truetype');
}

$font-family-base: 'Aspira-Regular';
$headings-font-family: $font-family-base;
$font-size-base: 16px;



// media queries
$tablet: 900px;
$mobile: 600px;
$max-width-screen: 1232px;

